* {
   margin:0;
   padding:0;
   box-sizing:border-box;

  }
body {
  font-family:sans-serif;
  width:100%;
  height:100%;
   }
header {
  position:fixed;
 width:100%;
 height:15vh;
 display:flex;
 justify-content:space-between;
 align-items:center;
 background:blue;
 box-shadow:0 12px 20px rgba(0,0,0,0.12);
 z-index:1;
   cursor:pointer;
  }
header:hover {
 background:linear-gradient(45deg,blue,red);
}
header .logo {
  margin-left:70px; 
  }
header .logo a{
  text-decoration:none; 
  }
header .logo h2 {
  letter-spacing:2px;
  font-size:2em; 
  font-weight:500;
  color:white;
  cursor:pointer;
 }
header .menu {
  position:absolute;
  top:0;
  right:0;
  margin-top:40px;
  display:flex;
  margin-right:80px;
  width:30%;
 }
header .menu ul {
  position:relative;
  list-style:none;
  display:flex;
  justify-content:space-around;
  align-items:center;
  width:100%;
}
header .menu ul li {
  position:relative;
  padding:10px 15px;
  font-size:20px;
  font-weight:light;
    width:100%;
  }
header .menu ul li a {
  position:relative;
  text-decoration:none;
  color:white;
}
header .menu ul li:hover {
  background:navy;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
}
.sub-menu {
  display:none;
  position:absolute;
  background:blue;
  box-shadow:0 12px 20px rgba(0,0,0,0.12);
  marign-top:40px;
  margin-left:-15px;
  width:150px;
  z-index:1000;
  border-radius:10px;
  text-align:center;
 }
.menu ul li:hover .sub-menu {
  display:block;
  border-radius:10px;
  background:blue;
  }
.sub-menu ul {
  width:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  background:rgba(0,0,0,0.12);
}
.sub-menu ul li a {
    border-bottom:1px solid transparent;
}
.sub-menu ul li a:last-child {
   border-bottom:none;
}
.sub-menu ul li a:hover {
 width:100%;
 background:navy;
 border-radius:0;
}
.sub-menu2 {
 display:none;
}
.sub-menu2 ul li a {
  text-decoration:none;
}
.hor:hover .sub-menu2 {
 display:block;
   position:absolute;
  background:blue;
  box-shadow:0 12px 20px rgba(0,0,0,0.12);
  marign-top:-20px;
  margin-left:130px;
  width:150px;
  height:130px; 
   border-radius:10px;
}



.container {
  position:relative;
  width:100%;
  height:100vh;
   background:white;
   overflow:hidden;
  }
.container::before {
  content:'';
  position:absolute;
  bottom:0;
  right:0;
   width:100%;
 height:100%;
  background:linear-gradient(red,blue);
  clip-path:circle(20% at right 80%)
}

.content {
 position:relative;
 top:105px;
 left:20px;
 width:97%;
  height:500px;
 box-shadow:0 4px 16px rgba(0,0,0,0.5);
 border-radius:15px;
 background:rgba(255,255,255,0.2);
 backdrop-filter:blur(10px);
 transform-style:preserve-3d;
}
.clear {
 clear:both;
}
.container .content p.firsttext {
 position:relative;
 top:100px;
 left:100px;
 color:blueviolet;
 font-size:40px;
 font-weight:900;
 text-transform:uppercase;
 letter-spacing:4px;
 line-height:60px;
 padding-top:40px;
}
.container .content p.secondtext {
 position:relative;
 top:100px;
 left:120px;
 color:indigo;
 font-size:2em;
 font-weight:500;
 padding-top:30px;
 padding-left:200px;
 font-style:italic;
}

*{
  margin:0;
  padding:0;
}
.wrapper{
height:100vh;
}
.head{
width:80%;
margin-left:170px;
}
.head h2 {
    display: block;
    font-size:30px;
    font-weight:900;
    letter-spacing:0.1em;
    font-family:monospace;
    padding-top:10px;
    color:blueviolet;
    text-align:center;
}
.feature {
 position:relative;
 width:90%;
 height:80%;
 margin-top:-50px;
 margin-left:20px;
}
.feat-video{
 width:45%;
 height:100%;
 float:left;
 
}
.feat-video iframe{
 width:700px;
 height:500px;
 padding-top:100px;
 padding-left:90px;
}
.feat-content{
 width:45%;
 height:100%;
 float:right;
 padding-left:60px;
}
.feat-content .contentss{
 cursor:pointer;
 padding:8px 16px;
 color:blueviolet;
 position:relative;
 top:100px;
 opacity:0.3;
 }
.feat-content .contentss.active ::before{
 content:'';
 display:block;
 top:0;
 left:0;
 width:100%;
 height:100%;
 transition:all ease-in .5s;
 box-shadow:0 2px 5px grey;
 border-radius:5px 5px 5px 0;
  cursor:pointer;
}
.feat-content .contentss.active ::after{
 content:'';
  display:block;
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:100%;
  transition:all ease-in .5s;
   box-shadow:0 2px 5px grey;
   border:1px solid blueviolet;
    border-radius:5px 5px 5px 0;
    cursor:pointer;
  }
.feat-content .contentss.active {
 opacity:1;                                                          
 border-radius:50px;
 color:blueviolet;
}
.feat-content .contentss h3{
  letter-spacing:1px;
  font-weight:bold;
  font-size:20px;
  color:blueviolet;
}
.feat-content .contentss p{
  color:blueviolet;
  font-size:15px;
  padding-top:5px;
  letter-spacing:0.7px;
}

.cont5 {
 width:100%;
 height:100%;
 background-color:white;
  overflow:hidden;
}
.sol5 {
 font-family:Arial;
  font-size:40px;
 font-weight:900;
 font-weight:1000;
 line-height:1;
 padding-left:15em;
 padding-top:1em;
  cursor:pointer;
 }
.r5 {
 padding:0 8px;
 display:flex;
 list-style-type:none;
 margin:4px 5px;
 justify-content:center;
 align-items:center;
 margin-top:80px;
 transform:translateX(0);
  cursor:pointer;
 }
.row5 {
 display:flex;
 flex-direction:column;
 margin:0 12px 50px;
 transition: 0.5s;
  cursor:pointer;
 }
.row5:hover {
  transform:translateY(-60px);
 }
.block5 {
 width:400px;
 height:490px;
 background:#f1f1f1;
 border-radius:25px;
 overflow:hidden;
 transform:translate3d(0,0,0);
 display:flex;
 flex-direction:column;
 cursor:pointer;
 box-shadow:0 8px 16px rgba(0,0,0,0.4);
}
.img5 {
 display:flex;
 width:400px;
 height:150px;
 background-image:red 100%100% no-repeat;
 border-radius:20px 0 20px;
 border-right-radius:none;
}
.img5:hover {
  height:200px;
  width:450px;
}
.wrap5 {
  padding:34px 36px;
  margin:6px 8px;
  }
.text5 {

  padding:3px auto;
 }
.j5 {
  font-size:15px;
  font-weight:600;
  text-transform:uppercase;
  color:black;
  letter-spacing:0.6px;
  line-height:19px;
  font-family:monospace;
}
.text52 {
  margin:0 0 16px;
}
.j52 {
  font-size:36px;
   font-weight:bold;
    color:black;
    line-height:1.2;
    font-family:sans-serif;
}
.j52:hover {
 font-size:48px;
 color:blue;
}
.p5{
 word-wrap:break-word;
 letter-spacing:0.02em;
 margin-bottom:48px;
 font-size:16px;
 line-height:1.4;
 height:70px;
}
.a55 {
 background:black;
 color:white;
 border-radius:30px;
}
.link5{
 text-decoration:none;
  display:inline-block;
    color:white; 
   padding:12px 25px;
   text-align:center;
   cursor:pointer;
   padding-left:100px;
}
.a55:hover {
  background:blue;
}
.a55.gt {
  position:absolute;
  top:0;
  right:0;
  color:white;
}
*{
 margin:0;
 padding:0;
}
.cont4{
 height:100vh;
 overflow:hidden;
}
.head4{
 width:80%;
 margin-left:150px;
}
.head4 h2{
 display:bold;
 font-weight:700;
 font-size:40px;
 color:black;
 line-height:60px;
 text-align:center;
 padding-top:60px;
}
.sp4{
 padding:0 8px;
}
.sp4:before,.sp4:after {
 content:'';
 display:table;
 clear:both;
}
.col4{
 width:100%;
 float:left;
 display:block;
}
.col4.l3 {
  width:30.999%;
  }
.display-cont4 {
  display:block;
}
.display-cont4 img{
  display:block;
  border-radius:50%;
  margin-top:50px;
  margin-left:200px;
  background:100% 100% no-repeat;
  width:100%;
}
.display-cont4 h4{
  text-align:center;
  color:black;
  padding-top:20px;
  padding-left:150px;
  letter-spacing:2px;
  display:block;
}
.display-cont4 p{
 display:block;
 text-align:center;
 padding-top:10px;
 padding-left:150px;
 letter-spacing:1px;
 padding-bottom:20px;
 z-index:1000;
}
.display-cont4 a{
 text-decoration:none;
 text-align:center;
 border:none;
 outline:none;
 color:white;
 background-color:black;
 width:50px;
 height:50px;
 padding:8px 16px;
 margin-left:220px;
}
.display-cont4 a:hover{
 background:red;
}
.ball4{
 position:relative;
 bottom:240px;
 width:100%;
 height:90%;
 background:transparent;
 z-index:-1;
}
.ball4 .s1 {
 position:absolute;
 bottom:130px;
 left:-30px;
 width:300px;
 height:200px;
  background:linear-gradient(to bottom,lightblue,royalblue);
 border-radius:50%; 
  z-index:1000;
}
.ball4 .sa1 {
 position:absolute;
 bottom:250px;
 left:-30px;
 width:250px;
 height:200px;
  background:royalblue;
 border-radius:50%; 
  z-index:-1;
  animation:s1 14s linear infinite;
}
@keyframes s1 {
 0% {bottom:0%;opacity:1;}
 25% {bottom:10%opacity:1;}
 50% {bottom:30%opacity:0.9;}
 75% {bottom:60%opacity:0.5;}
 100%{bottom:80%;opacity:0;}
 }
.ball4 .sm1 {
 position:absolute;
 bottom:130px;
 left:200px;
 width:300px;
 height:200px;
 background:linear-gradient(to left,lightblue,royalblue);
 border-radius:50%;
 z-index:1;
}
.ball4 .sms1 {
 position:absolute;
 bottom:130px;
 left:400px;
 width:300px;
 height:200px;
 display:block;
 background:linear-gradient(to right,lightblue,royalblue);
 border-radius:50%;
 z-index:1;
}
.ball4 .s2 {
 position:absolute;
 bottom:130px;
 left:600px;
 width:300px;
 height:200px;
 background:radial-gradient(lightblue,royalblue);
 border-radius:50%;
 z-index:1;
}
.ball4 .sm2 {
 position:absolute;
 bottom:130px;
 left:800px;
 width:300px;
 height:200px;
 background:radial-gradient(lightblue,royalblue);
 border-radius:50%;
 z-index:1;
}
 .ball4 .sms2 {
 position:absolute;
 bottom:130px;
 left:1000px;
 width:300px;
 height:200px;
  background:radial-gradient(lightblue,royalblue);
 border-radius:50%;
 z-index:1;
}
.ball4 .s3 {
 position:absolute;
 bottom:130px;
 left:1200px;
 width:300px;
 height:200px;
 background:linear-gradient(to right,lightblue,royalblue);
 border-radius:50%;
 z-index:1;
}
.ball4 .sm3 {
 position:absolute;
 bottom:130px;
 left:1400px;
 width:300px;
 height:200px;
 background:linear-gradient(to right,lightblue,royalblue);
 border-radius:50%;
 z-index:1000;
}
.ball4 .sa5 {
 position:absolute;
 bottom:250px;
 left:1400px;
 width:250px;
 height:200px;
  background:royalblue;
 border-radius:50%; 
  z-index:-1;
  animation:sa5 14s linear infinite;
}
@keyframes sa5 {
 0% {bottom:0%;opacity:1;}
 25% {bottom:10%opacity:1;}
 50% {bottom:30%opacity:0.9;}
 75% {bottom:60%opacity:0.5;}
 100%{bottom:80%;opacity:0;}
 }
.ball4 .sms3 {
 position:absolute;
 bottom:250px;
 left:200px;
 width:150px;
 height:150px;
 background:royalblue;
 border-radius:50%;
  animation:ss3 7s linear infinite;
}
@keyframes ss3 {
 0% {bottom:0%;opacity:1;background:linear-gradient(to right,lightblue,royalblue);}
 25% {bottom:10%opacity:1;;background:linear-gradient(to right,lightblue,royalblue);}
 50% {bottom:30%opacity:0.9;background:linear-gradient(to left,royalblue,lightblue);}
 75% {bottom:60%opacity:0.5;background:linear-gradient(to left,royalblue,lightblue);}
 100%{bottom:80%;opacity:0;background:linear-gradient(royalblueblue,#f1f1f1);}
 }
.ball4 .s4 {
 position:absolute;
 bottom:250px;
 left:1000px;
 width:250px;
 height:200px;
 background:linear-gradient(to right,royalblueblue,#f1f1f1);
 border-radius:50%;
 opacity:0.8;
 animation:ss4 7s linear infinite;
 
}
@keyframes ss4 {
 0% {bottom:0%;opacity:1;}
 25% {bottom:10%opacity:1;}
 50% {bottom:30%opacity:0.9;}
 75% {bottom:60%opacity:0.5;}
 100%{bottom:80%;opacity:0;}
 }
.ball4 .s5 {
 position:absolute;
  bottom:250px;
 left:600px;
 width:250px;
 height:200px;
 background:linear-gradient(to right,royalblue,#f1f1f1);
 border-radius:50%;
 opacity:0.8;
 animation:ss5 7s linear infinite;
 
}
@keyframes ss5 {
 0% {bottom:0%;opacity:1;background:linear-gradient(to right,lightblue,royalblue);}
 15% {bottom:10%opacity:1;background:linear-gradient(to left,lightblue,royalblue);}
 20% {bottom:30%opacity:0.9;background:linear-gradient(to right,royalblue,lightblue);}
 35% {bottom:60%opacity:0.5;background:linear-gradient(to left,royalblue,lightblue);}
 50%{bottom:80%;opacity:0;background:linear-gradient(royalblue,#f1f1f1);}
}
.footer{
width:100%;
height:auto;
background:royalblue;
color:white;
}
.last-foot {
list-style-type:none;
display:flex;
justify-content:center;
align-items:center;
padding:50px 34px;
}
.row-foot{
 display:flex;
 padding:8px 20px;
 }
.foot-wrap {
width:400px;
height:250px;
 position:relative;
padding:8px 16px;
background-color:navy;
box-shadow:0px 8px 16px #000;
backdrop-filter:blur(10px);
 cursor:pointer;
}
.foot-wrap h4 {
letter-spacing:1px;
padding-top:15px;
text-align:center;
padding-bottom:10px;
border-bottom:1px solid #fff;
}
.foot-wrap p {
letter-spacing:1px;
padding-top:15px;
text-align:center;
}
.foot-wrap img {
width:100%;
 height:100%;
}
.few-foot{
background:blue;
text-align:center;
}
.topmiddle {
 position:absolute;
 left:43%;
 top:40%;
 padding:8px 16px;
 color:blue;
 font-size:25px;
}
